services:

  blaze-and-boot:
    image: 'postgres:15.4'
    build: postgres
    ports:
      - '5433:5432'
    environment:
      - 'POSTGRES_USER=db_user'
      - 'POSTGRES_PASSWORD=secrets'
      - 'POSTGRES_DB=blaze_and_boot_db'